<h1>Editing Block Field Block Part</h1>

<%= render 'form', block_field_block_part: @block_field_block_part %>

<%= link_to 'Show', @block_field_block_part %> |
<%= link_to 'Back', block_field_block_parts_path %>
