<!--TEASER-->
<div class="row">
  <div class="page-header col-sm-12">
    <h1>Вітаємо на порталі правової допомоги!</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="inspector teaser-icon"></div><p class="teaser-text lead">Потрапили в ДТП та не згодні з інспектором?</p>
  </div>
  <div class="col-sm-6">
    <div class="protocol teaser-icon"></div><p class="teaser-text lead">Висновки протоколу не відповідають обставинам справи?</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="expensive teaser-icon"></div><p class="teaser-text lead">Адвокати дорого коштують?</p>
  </div>
  <div class="col-sm-6">
    <div class="laws teaser-icon"></div><p class="teaser-text lead">Немає часу вивчати законодавство?</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="alone teaser-icon"></div><p class="teaser-text lead">Немає з ким порадитись?</p>
  </div>
  <div class="col-sm-6">
    <div class="but teaser-icon"></div><p class="teaser-text lead">Але Ви готові відстоювати свої права?</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="idea teaser-icon"></div><p class="teaser-text lead">Вихід є! Треба лише заповнити дані, роздрукувати позов...</p>
  </div>
  <div class="col-sm-6">
    <div class="go teaser-icon"></div><p class="teaser-text lead">...вчнити підготовчі дії та звернутись до суду!</p>
  </div>
</div>
<!--EOF_TEASER-->
<div class="row">
  <div class="col-sm-6">
    <p>Динамічні підменю будуть тут.</p>
  </div>
</div>