/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px 0;
    /*margin-bottom: 60px;*/
    background: url("../background.png") repeat 0 0;
    background-size: 150px;
    font-family: Calibri !important;
}
div.logo {
    background: url("../logo.png") no-repeat 10px 5px;
    background-size: 35px;
    width: 55px;
    height: 45px;
    display: inline-block;
}
body > .container {
    /* Set the bottom pading of the under menu because of header and footer */
    padding: 60px 20px 150px;
    background-color: rgba(100, 100, 100, 0.15);
    height: 100%;
}
div.page-header{
    border-bottom-color: darkgray;
}
div.col-sm-6{
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
}
.lower-menu1 {
    position: absolute;
    bottom: 120px;
    width: 100%;
    /* Set the fixed height of the under menu */
    height: 60px;
    background-color: rgba(245, 245, 245, 0.0);
    opacity: 0.7;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the under menu */
    height: 120px;
    background-color: #bbbbbb;
    padding: 15px 0 15px 0;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.container .text-muted {
    margin: 20px 0;
}
div.inspector{
    background: url("../inspector.png") no-repeat 0 0;
    background-size: 100%;
}
div.protocol{
    background: url("../protocol.png") no-repeat 0 0;
    background-size: 100%;
}
div.expensive{
    background: url("../expensive.png") no-repeat 0 0;
    background-size: 100%;
}
div.laws{
    background: url("../laws.png") no-repeat 0 0;
    background-size: 100%;
}
div.alone{
    background: url("../alone.png") no-repeat 0 0;
    background-size: 100%;
}
div.but{
    background: url("../but.png") no-repeat 0 0;
    background-size: 100%;
}
div.idea{
    background: url("../idea.png") no-repeat 0 0;
    background-size: 100%;
}
div.go{
    background: url("../go.png") no-repeat 0 0;
    background-size: 100%;
}
div.teaser-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
}
p.teaser-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 75%;
}
div.list-item {
    margin-left: 20px;
}
/* form field */
div.field div.col-sm-2 {
    padding-top: 12px;
}
/* show page */
div.show p {
    margin: 0 0 0 20px;
}
div.show p label {
    display: inline;
}
/* lower menu*/
div.lower-menu a {
    margin: 5px 0 5px 20px;
}