<div class="row">
  <div class="page-header col-sm-12">
    <h1>Current categories</h1>
  </div>
</div>
<% if @categories.blank? %>
    <div class="row">
      <div class="col-sm-6 item-list">
        <p class="lead">There are no categories in list.</p>
      </div>
    </div>
<% else %>
  <% @categories.each do |c| %>
    <div class="row">
      <div class="col-sm-6 item-list">
       <%= link_to c.name, {:action => 'show', :id => c.id} -%>
      </div>
    </div>
  <% end %>
<% end %>

<%= render :partial => '/layouts/menu', :locals => {:links => {:Add_new => 'new'} } %>