<div class="row lower-menu">
  <div class="col-sm-12">
    <ul>
    <% data = links %>
    <% data.each do |text, action| %>
      <% string = text.to_s.gsub '_', ' ' %>
      <% values = action.split '%' %>
      <% if values.count == 1 %>
      <li><p><%= link_to string, {:action => action}  %></p></li>
      <% elsif values.first == 'delete' %>
      <li><p><%= link_to string, {:action => values.first, :id => values.last, :data => { :confirm => 'Are you sure?' } }  %></p></li>
      <% else %>
      <li><p><%= link_to string, {:action => values.first, :id => values.last}  %></p></li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>